// _header.scss

@use 'variables' as *;

.landing-page__header {
  background-color: $header-background-color; /* Use variable for background color */
  color: $text-color; /* Use variable for text color */
  padding: 10px;
  position: relative;
}

.landing-page__header-image-container {
  position: relative;
  text-align: center;
}

.landing-page__header-image {
  width: 100%;
  height: auto;
}

.landing-page__header-text-container {
  position: absolute;
  width: 100%;
  max-width: 334px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center the container */
}

.landing-page__header-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 51px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  color: #FFFFFF; /* Set text color to white */
}

.landing-page__header-text .line1,
.landing-page__header-text .line2,
.landing-page__header-text .line3 {
  display: inline;
}

@media (max-width: 768px) {
  .landing-page__header-text .line1 {
    display: block; /* Ensure line1 is on a separate line */
  }

  .landing-page__header-text {
    font-size: 36px; /* Adjust font size for mobile view */
    line-height: 40px; /* Adjust line height for mobile view */
  }
}

@media (min-width: 769px) {
  .landing-page__header-text-container {
    max-width: 600px; /* Adjust max-width for tablet and desktop view */
  }

  .landing-page__header-text .line1,
  .landing-page__header-text .line2 {
    display: inline; /* Ensure text does not wrap */
  }

  .landing-page__header-text .line3 {
    display: block; /* Ensure line3 is always on a new line */
  }

  .landing-page__header-text {
    font-size: 48px; /* Adjust font size for tablet and desktop view */
    line-height: 51px; /* Adjust line height for tablet and desktop view */
    white-space: nowrap; /* Ensure text does not wrap */
  }
}

.landing-page__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px 42px;
  gap: 10px;
  position: absolute;
  width: 360px;
  height: 54px;
  left: 50%;
  top: calc(50% + 150px); /* Adjust top position to place below the text */
  transform: translateX(-50%);
  background: #C2110E;
  border-radius: 15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27.72px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer */
}